.roundedButton {
  padding: 8px 24px;
  background-color: var(--primary);
  border-radius: 3px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text {
  color: var(--white);
}

.roundedButton:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  background-color: var(--secondary);
}