.index {
  width: 100vw;
  height: 100vh;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 600;
}

.cardContainer {
  margin: 40px 0;
}

.link {
  color: var(--primary);
}