.navbar {
  height: 56px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.middle {
  display: flex;
  width: 30%;
  justify-content: space-between;
  font-weight: 600;
}

.navbarLink {
  text-decoration: none;
  font-weight: 700;  
}