.dashboardLayout {
  display: flex;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.title {
  margin-bottom: 32px;
}