@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #1A5D1A;
  --primary-variant: #9ED5C5;
  --secondary: #EA907A;
  --secondary-variant: #ffb703;
  --tertiary: #FBC687;
  --white: white;
  --black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
}

ul {
  list-style: none;
}